@media only screen and (min-width: 567px) {
  /* css nav bar */
  #nav-bar li {
    height: 60px;
    /* tạo đường viền giữa các phần tử của nav bar */
    border-left: 2px solid rgb(231, 231, 231);
    /* căn chữ ra giữa thẻ */
    display: flex;
    align-items: center;
    font-size: 0.8rem;
  }
  #nav-bar li:last-child {
    /* tạo viền cho thẻ li cuối cùng */
    border-right: 2px solid rgb(231, 231, 231);
  }
  .border-sm-gray {
    border-left: 2px solid rgb(231, 231, 231);
    border-right: 2px solid rgb(231, 231, 231);
    width: 5em;
  }
  #nav-bar i {
    color: rgb(48, 163, 223);
    font-size: 1rem;
  }
  /* css project */
  .projects {
    /* css layout cho phần project dạng grid 3 cột */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .section-title {
    font-size: 1.5rem;
  }

  /* css phần thông tin cá nhân */
  #personal-info {
    background-color: rgb(240, 240, 240);
    margin-top: 0px;
    padding: 2rem 3rem;
    width: 50%;
  }
  .border-left-orange {
    border-left: 1px #d6c08d solid;
  }
}
